

.logout-button {
    color: #ffffff;
    background-color: #4E95D9;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 3em;
    border: 2px solid transparent; 
    background-clip: padding-box;
}


* {
    scrollbar-width: thin; 
    scrollbar-color: white transparent;
}
