


.Order {
    display: flex;
    flex-direction: column;
}


.PrevOrders {
    display: flex;
    flex-direction: row;
}




.lower-order-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.create-new-order {
    height: 350px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

.finalize-order {
    height: 350px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}