:root {
    --main-blue: #4E95D9;
    --light-gray: #323232;
    --gray: #272727;

}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    width: 100%;
}


.Order {
    display: flex;
    flex-direction: column;
}


.PrevOrders {
    display: flex;
    flex-direction: row;
}




.lower-order-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.create-new-order {
    height: 350px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

.finalize-order {
    height: 350px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}