:root {
    --main-blue: #4E95D9;
    --light-gray: #323232;
    --gray: #272727;

}

html, body {
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    width: 100%;
}

.order-top-bar {
    height: 40px;
    background-color: var(--main-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.return-button {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0px 0px 0px 10px;
}

.order-title {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 20px 0px 0px 20px;
}


.order-container {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    min-height: 700px;
    width: 100%;
}



.prev-orders {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.prev-orders-container {
    display: flex;
    flex-direction: row;
}


.invis {
    visibility: hidden;
}






.lower-order-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.create-new-order {
    width: 100%;
    border: 4px solid var(--main-blue);
    padding: 10px;
    margin: 10px 10px;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}




.order-elements {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 30px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}


.element-group {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.element-label {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

.order-dropdown {
    margin: 5px;
    height: 50px;
    border-radius: 5em;
    padding: 10px;
    color: var(--main-blue);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.confirm-button-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.confirm-button {
    width: 240px;
    padding: 15px;
    background-color: var(--main-blue);
    border: none;
    border-radius: 2em;
    color: #ffffff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 25px 40px 0px 0px;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 3em;
    border: 2px solid transparent; 
    background-clip: padding-box;
}


* {
    scrollbar-width: thin; 
    scrollbar-color: white transparent;
}
