
:root {
    --main-blue: #4E95D9;
    --light-gray: #323232;
    --gray: #272727;
}

.prev-order {
    background-color: var(--main-blue);
    min-width: 200px;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 2em;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s ease-in-out;
}

.prev-order:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.prev-order-info {
    text-align: center;
    margin: 0px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 3em;
    border: 2px solid transparent; 
    background-clip: padding-box;
}


* {
    scrollbar-width: thin; 
    scrollbar-color: white transparent;
}
